body,
html {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 3em;
    margin-top:50px;
}

.winner {
    margin-top: 20px;
    font-size: 2em;
    min-height: 50px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.opponent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: relative;
    top: 150px;
}

.opponent span {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

form {
    position: relative;
}

#onePName {
    top: 100px;
}

form label {
    display: flex;
    align-items: center;
}

form input {
    border: none;
    height: 30px;
    width: 200px;
    font-size: 1.5em;
    margin-left: 10px;
}

form button,
.gameplay-container button,
.opponent input {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-size: 1.5em;
    background-color: lightblue;
}

form button:hover,
.gameplay-container button:hover,
.opponent input:hover {
    background-color: rgb(127, 162, 173);
    cursor: pointer;
}

.gameplay-container {
    position: relative;
    top: -250px;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-template-rows: repeat(auto-fit, 170px);
    width: 510px;
    height: 510px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.cell {
    text-align: center;
    border: 1px solid black;
    background-color: rgb(205, 151, 255);
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(156, 113, 197);
}

.scores-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: fit-content;
    font-size: 22px;
    margin-top: 25px;
}

.scores-container :first-child {
    grid-column: span 2;
    font-size: 25px;
}