body,
html {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    justify-items: center;
}

header {
    font-size: 3em;
    align-self: end;
}

.winner-container {
    font-size: 2em;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.winner {
    background-color: white;
    padding: 12px 30px;
    border: 2px solid black;
    border-radius: 30px;
    visibility: hidden;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1;
    grid-column: 2;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul {
    width: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.opponent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 100px;

    grid-row: 1;
    grid-column: 2;
}

.opponent span {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

form {
    grid-row: 1;
    grid-column: 2;
}

form label {
    display: flex;
    align-items: center;
}

form input {
    border: none;
    height: 30px;
    width: 200px;
    font-size: 1.5em;
    margin-left: 10px;
}

form button,
.gameplay-container button,
.opponent input {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-size: 1.5em;
    background-color: lightblue;
}

form button:hover,
.gameplay-container button:hover,
.opponent input:hover {
    background-color: rgb(127, 162, 173);
    cursor: pointer;
}

.gameplay-container {
    grid-row: 1;
    grid-column: 2;
    width: 1000px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.board-group {
    justify-self: end;
    margin-right: 100px;
    grid-row: span 2;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-template-rows: repeat(auto-fit, 170px);
    width: 510px;
    height: 510px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.cell {
    text-align: center;
    border: 1px solid black;
    background-color: rgb(205, 151, 255);
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(156, 113, 197);
}

.turns {
    grid-column: 2;
    grid-row: 1;
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

.scores-container {
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    width: fit-content;
    height: 100px;
    font-size: 22px;
    margin-top: 25px;
    grid-column: 2;
    grid-row: 2;
}

.scores-container :first-child {
    grid-column: span 3;
    font-size: 25px;
}

.scores-container span {
    justify-self: center;
    font-weight: bold;
}

#player1score,
#player2score {
    font-weight: 500;
}

footer {
    align-self: end;
    margin-bottom: 30px;
}